/*
Theme Name:     NH In-depth
Theme URI:      http://largoproject.org
Description:    Child theme for NH In-depth based on the Project Largo parent theme.
Author:         The INN Nerds
Author URI:     http://nerds.inn.org
Template:       largo-dev
Version:        0.1.0
*/

/* Borrowed styles from Current.org
 * for Newsletter Signup Widget in Header
 * ---------------------------------
 */

header .newsletter-signup {
  width: 262px;
  color: #666;
  position: absolute;
  top: 12px;
  right: 0;
  margin-left: 20px;
  z-index: 999;
}
.newsletter-signup .error {
  color: #666;
  font-size: 12px;
  display: none;
}
.newsletter-signup .city,
.newsletter-signup .date {
  font-size: 14px;
  margin-bottom: 2px;
}
.newsletter-signup .city { float: right; }
.newsletter-signup .date { float: left; }
.newsletter-signup form {
  clear: both;
  background: #fff;
  padding: 6px 12px;
  border: 4px solid #00a652;
}
.newsletter-signup form button,
.newsletter-signup form input {
  margin: 0 0 8px 0;
}
.newsletter-signup form input[type="text"],
.newsletter-signup form input[type="email"]{
  box-sizing: border-box;
  width: 100%;
}
.newsletter-signup form label {
  color: #666;
  font-size: 16px;
}
header .newsletter-signup .first_name,
header .newsletter-signup .last_name,
header .newsletter-signup .submit {
  display: none;
}

/* 3.9 - Newsletter sign up link */

.home #site-header {
  position: relative;
}
.home #newsletter-signup-link {
  position: absolute;
  right: 0;
  bottom: 12px;
}

/* Custom navigation colors */
#main-nav.navbar {
  border: none;
}
#main-nav.navbar .navbar-inner {
  background: #00a652;
}
#main-nav.navbar .nav > li > a { color: white; }
#main-nav.navbar .nav > li > a:hover { color: #383838; }

#main-nav .dropdown .caret:before { border-top: 6px solid white; }
#main-nav .dropdown > a:hover .caret:before { border-top: 6px solid #383838; }
